{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% load widget_tweaks %}

{% block nav-extends %}
  <link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

	          <li class="nav-item active"><a href="{% url 'djstore:reklama' %}" class="nav-link">{% trans 'Saytda Reklam' %} </a></li>
	          <li class="nav-item"><a href="{% url 'djstore:product' %}" class="nav-link">{% trans 'Məhsul yarat' %}</a></li>
	          <li class="nav-item"><a href="{% url 'djstore:contact' %}" class="nav-link">{% trans 'Kontakt' %}</a></li>
            <li class="nav-item"><p style="margin-top: 13px; margin-left: 16px;">
            <i class="fa fa-phone"></i> 050 530 55 50</p>
	        
    {% endblock %}


{% block body %}

<style>

body{
  color:black;
}

form {
  margin-left:0em !important;
}

</style>

<div class="row">

<div class="col-sm-6">
  
  


  <form style="margin-left:5em; padding:3em; margin-top: 7em;" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    <h1>{% trans 'Məhsul yarat' %}</h1>
    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}

      <button   class="btn btn-success" style="padding:10px 40px;" type="submit">{% trans 'Göndər' %}</button>
</form>


</div>


</div>




{% endblock %}