<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

    <div class="container">

        .<div class="jumbotron">
            <h1>Вам написал {{email}}</h1>
            <h2 class="display-4">Имя: {{name}}</h1>
            <h2>Тема:{{subject}}</h2>
            <h2>Сообщение:</h2>
            <h3>{{content}}</h3>
                
          </div>
    </div>

</body>
</html>